<main class="min-h-screen py-8 px-4">
  <div class="max-w-4xl mx-auto rounded-lg shadow-lg p-8 border-2 border-gray-200">
    <div class="flex justify-center">
      <h2 class="text-3xl font-semibold text-center mb-6 w-full">Processamento de Números</h2>
      <p-button
        icon="{{isDarkMode() ? 'pi pi-moon' : 'pi pi-sun'}}"
        [rounded]="true"
        [text]="true"
        (click)="toggleDarkMode()"
        [raised]="true"
      />
    </div>

    <div class="flex justify-center gap-4 mb-6">
      <p-inputNumber
        [(ngModel)]="num1"
        (onBlur)="num1Touched = true"
        class="{{num1Touched && num1 === null ? 'ng-invalid ng-dirty': ''}}"
        placeholder="Número 1"
        ariaLabel="num1"/>
      <p-inputNumber
        [(ngModel)]="num2"
        (onBlur)="num2Touched = true"
        class="{{num2Touched && num2 === null ? 'ng-invalid ng-dirty': ''}}"
        placeholder="Número 2"
        ariaLabel="num2"/>
      <p-inputNumber
        [(ngModel)]="num3"
        (onBlur)="num3Touched = true"
        class="{{num3Touched && num3 === null ? 'ng-invalid ng-dirty': ''}}"
        placeholder="Número 3"
        ariaLabel="num3"/>
    </div>

    <div class="flex justify-center mb-6">
      <p-button label="Calcular"
                ariaLabel="Calcular"
                [raised]="true"
                (onClick)="processar()"
                [disabled]="num1 === null || num2 === null || num3 === null"/>
    </div>

    <p-table [value]="resultados"
             [rows]="5"
             [paginator]="true"
             [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="num1" style="width:20%">
            Número 1
            <p-sortIcon field="num1"/>
          </th>
          <th pSortableColumn="num2" style="width:20%">
            Número 2
            <p-sortIcon field="num2"/>
          </th>
          <th pSortableColumn="num3" style="width:20%">
            Número 3
            <p-sortIcon field="num3"/>
          </th>
          <th pSortableColumn="media" style="width:20%">
            Média
            <p-sortIcon field="media"/>
          </th>
          <th pSortableColumn="mediana" style="width:20%">
            Mediana
            <p-sortIcon field="mediana"/>
          </th>
          <th pSortableColumn="status" style="width:20%">
            Status
            <p-sortIcon field="status"/>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.num1 }}</td>
          <td>{{ item.num2 }}</td>
          <td>{{ item.num3 }}</td>
          <td>{{ item.media }}</td>
          <td>{{ item.mediana }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
